<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="AADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>
    <add key="Tenant" value="46c98d88-e344-4ed4-8496-4ed7712e255d"/>
    <add key="ClientId" value="a84a10fc-614d-422f-851f-9450edd90886"/>
    <add key="Scope" value="User.read Mail.Send Mail.ReadWrite"/>
  </appSettings>
</configuration>
